.main-about{
	padding-top: 0 !important;
	.bg{
		background:#040702 url(../images/about-bg.jpg) no-repeat center top;
		background-size: cover;
		.d-flex{
			height: 190px;			
		}
	}

	.text{
		.head{
			font-family: 'proxima_novablack_italic';
			margin-top: 8.3rem;
			text-transform: uppercase;
			position: relative;
			font-size: 4rem;
			color: $color2;
			letter-spacing: .1em;
			display: inline-block;
			&:after{
				@extend .before;
				border-top: 1px solid #00b4a9;
				right: -217px;
				top: 15px;
				width: 128px;
				border-bottom: none;
			}
		}
		.subtitle{
			$color: $color17;
			color: $color;
			font-family: 'proxima_novabold_italic';
			font-size: 3rem;
			letter-spacing: .1em;
			margin-top: 1.2rem;
			span{
				color: $color2;
				display: inline-block;
				border-bottom: 2px solid $color;
				font-family: 'proxima';
				font-weight: 500;
			}
		}
		&__inner{
			font-weight: 100;
			font-size: 1.8rem;
			line-height: 2;
			padding-left: 9.5rem;
			margin: 5.7rem 0;
		}
	}

	.title{
		color: $color2;
		font-family: 'proxima_novablack_italic';
		font-size: 4rem;
		letter-spacing: .05em;
		position: relative;
		padding-bottom: 2.5rem;
		margin-bottom: 6.4rem;
		text-transform: uppercase;
		&:after{
			@extend .before;
			border-bottom: 1px solid $color5;
			bottom: 0;
			left: 50%;
			margin-left: -75px;
			width: 130px;
		}
	}
}


.advantages{
	margin-right: 12rem;
	margin-bottom: 11rem;
	position: relative;
	&:before{
		@extend .before;
		border-right: 1px solid #023537;
		height: 104px;
		top: 10px;
		left : 0;
	}
	&__cell{
		// border-right: 1px solid #023537;
		padding: 0 9rem;
		position: relative;
		&:after{
			@extend .before;
			border-right: 1px solid #023537;
			height: 104px;
			top: 10px;
			right: 0;
		}
	}
	&__show{
		color: $color18;
		font-weight: 100;
		font-size: 5rem;
		line-height: 1;
		min-height: 10rem;
		display: flex;
		align-items: center;
	}
	&__sign{
		font-size: 1.7rem;
		color: $color2;
		margin-top: 1rem;
		font-weight: 500;
	}
}

.groups{
	margin-top: 10rem;
}

.group{
	&__item{
	}
	&__link{
		display: flex;
		flex-direction: column;
		color: $color2;
		text-decoration: none;
		font-size: 2rem;
		font-weight: 500;
		height: 100%;
		position: relative;
		&:hover{
			color: $color7;		
			&:before{
				opacity: 1;
			}		
		}
		&:before{
			transition: .3s opacity;
			opacity: 0;
			$s: 70px;
			@extend .before;
			width: $s;
			height: $s;
			background: #00feee;
			border-radius: $s;
			filter: blur(30px);
			left: 50%;
			top: 50%;
			margin-top: -$s/1.5;
			margin-left: -$s/2;
		}
	}

	&__pic{
		flex-grow: 1;
		display: flex;
		align-items: center;
		position: relative;
		z-index: 2;
	}
	&__title{
		margin-top: 2.2rem;
		min-height: 4.5rem;
		letter-spacing: .1em;
		text-transform: uppercase;
	}
}


.principles{
	background: #13242b;
	margin-top: 9rem;
	padding: 9rem 0;
}

.principle{
	&__cell{
		display: flex;
		color: $color19;
		font-size: 2.2rem;
		line-height: 1.5;
		margin-right: 8rem;
		min-width: 320px;
		&:last-child{
			margin-right: 0;
		}
	}
	&__num{
		font-size: 100px;
		font-family: 'proxima_novablack_italic';
		line-height: 1;
		color: $color5;
	}

	&__text{
		margin: 1rem 0 0 2rem;
		font-weight: 100;
	}
}


// =coverage
.coverage{
	$color1: #00b4a9;
	$color2: #e3e3e3;
	$color3: #0068b4;
	$color4: #955faa;
	padding: 11rem 0;
	.title{
		margin-bottom: 4.5rem;
	}

	&__signature{
		font-size: 1.6rem;
		color: $color2;
		margin-top: 5rem;
		.color1{
			.circle{
				background-color: $color1;
			}
		}
		.color2{
			.circle{
				background-color: $color2;
			}
		}
		.color3{
			.circle{
				background-color: $color3;
			}
		}
		.color4{
			.circle{
				background-color: $color4;
			}
		}


		.circle{
			$s: 30px;
			border-radius: 50%;
			height: $s;
			margin-right: 1.1rem;
			width: $s;
		}
	}

	.signature{
		&__item{
			display: flex;
			align-items: center;
			margin-right: 4.2rem;
			&:last-child{
				margin-right: 0;
			}
		}
	}


	&__row{
		display: flex;
		margin-bottom: 4.3rem;
	}

	&__title{
		font-size: 1.6rem;
		text-transform: uppercase;
		text-align: right;
		display: flex;
		flex-direction: column;
		justify-content: center
	}
	.columns{
		height: 36px;
		margin-left: 1.7rem;
		margin-right: 9.5rem;
		position: relative;
	}

	.over{
		background: url(../images/columns.png) repeat-x;
		position: absolute;
		width: 100%;
		z-index: 10;
		height: 36px;
	}

	.column{
		position: absolute;
		bottom: 0;
		height: 100%;
		z-index: 0;
		&-color1{background-color: $color1}
		&-color2{background-color: $color2}
		&-color3{background-color: $color3}
		&-color4{background-color: $color4}
	}
}

.dots{
	position: absolute;
	top: -31px;
	width: 100%;
	.dot{
		background: url(../images/dot.png) no-repeat center bottom;
		color: #616f74;
		font-size: 1.1rem;
		height: 24px;
		padding-bottom: 37px;
		position: absolute;
		width: 24px;
		z-index: 15;
	}
}