/*** reset ***********/
html,body,ul,ol,li,dl,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,a,img,label{margin:0;padding:0;border:0}
// header, section, footer, aside, nav, article {display:block}
// ul{list-style:none}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	&:after,
	&:before{
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;		
	}
}


html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-size: 62.5%
}


body{
	@include font-size(1.4);
	background: #03151b;
	color: $color3;
	font-display: swap;
	font-family: 'proxima', Georgia, sans-serif;
	font-weight: 400;
	height: 100vh;
}

html, body{
	height: 100%
}


@media (min-width: 1280px){
	.body{
		perspective: 1000px;
	}	
}


// .m-modal-open .grid.inner, 
.m-modal-open .grid, 
.m-modal-open .outerwrapper {
    transform: rotateY(5deg);
}

.vline{
	position: relative;
	&:before{
		@extend .before;
		border-left: 1px solid $color11;
	}
}



.grid{
	transition: .3s transform ease-out;
	transform-origin: 0 50%;

	&.inner{
		footer{
			background-color: $color1;
		}
	}
}



body{
	display: flex;
	 flex-flow: column;
}
.homepage{
	flex-grow: 1;
}
.grid{
	height: 100%;
	display: flex;
	flex-direction: column;
	.main{
		flex-grow: 1;
	}		
}

@supports (display:grid) {
	.grid{
		height: auto;
		min-height: 100vh;
		display: grid;
		grid-template-areas: "header"
							 "main"
							 "footer";
		grid-template-rows: auto 1fr auto;			
	}
}


// .grid.inner{
// 	display: grid;
// 	grid-template-areas: "header"
// 						 "neck"
// 						 "main"
// 						 "footer";
// 	grid-template-rows: auto auto 1fr auto;	
// 	min-height: 100vh;
// }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	//ie11
}



.selectize-input input{
	@include placeholder(#fff);
	font-weight: 100;
}

input::-moz-focus-inner{
	border: 0;
	padding: 0;
}


.outerwrapper{
	-webkit-flex: 1;
	flex: 1;
}

/*** standart classes *****/
p{}
a{color:#020000; transition: .3s;}
h1{font-size:2.5rem}
h2{font-size:2.4rem}
h3{font-size:1.6rem}

.regular{
	font-family: "SegoeUIRegular";	
}

/* font-family: "SegoeUIRegular"; */
@font-face {
	font-family: "SegoeUIRegular";
	src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot");
	src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/SegoeUIRegular/SegoeUIRegular.woff") format("woff"),
	url("../fonts/SegoeUIRegular/SegoeUIRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "SegoeUIBold"; */

strong,
.bold{
	font-weight: 500;
}
em, i, 
.italic{
	// font-style: normal;
	// font-family: "SegoeUIItalic";
}

strong em,
em strong
{
	// font-weight: normal;
	// font-family: "SegoeUIBoldItalic";
}


.tdn{
	text-decoration: none;
	&:hover{
		text-decoration: underline;
	}
}

.tdu{
	text-decoration: underline;
	&:hover{
		text-decoration: none;
	}
}


.before{
	content: "";
	display: block;
	position: absolute;
}


.text-center{
	text-align: center;
}

.form-control {
   border: 1px solid $color3;
   border-radius: 0;
   margin-top: 0.6rem;
	font-size: 16px;
	&:focus,
	&:active{
		border-color: $color10;
	}
}



.btn{
	background: none;
	border: 2px solid;
	cursor: pointer;
	font-family: 'proxima';
	font-size: 1.5rem;
	font-weight: 500;
	transition: .3s;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	&-blue{
		color: $color2;
		border-color: $color5;
		&:hover{
			color: $color2;
			background-color: $color5;
		}
	}
	&-callback{
		border-radius: 4.5rem;
		height: 4.5rem;
		text-align: center;
		width: 13rem;
	}

	&-learn-more{
		border-radius: 6rem;
		height: 6rem;
		font-size: 2rem;
		width: 20rem;
		text-decoration: none;
		padding-left: 10px;
		position: relative;
		&:before{
			@extend .before;
			width: 18px;
			height: 12px;
			@include sprite($icon-arrow-type-1);
			top: 40%;
			left: 25px;
		}
	}

	&-black{
		background: #000;
		color: $color2;
		border: none;
		letter-spacing: 0.1em;
		&:hover{
			background-color: $color5;
		}
	}
}


.extra-toggle {
	background: none;
	border: none;
	cursor: pointer;
	display: block;
	height: 34px;
	padding: 0;
	position: relative;
	width: 30px;
	.icon-bar{
		background: #fff;
		border-radius: 2px;
		display: block;
		height: 3px;
		margin: 7px 0;
		position: relative;
		transition: .15s margin ease-out;
		width: 100%;
		z-index: 5;
		transition: .3s background;
	}
	&:hover{
		.icon-bar{
			background: $color7;
		}
	}
}


.flex-center{
	display: flex;
	align-items: center;
	justify-content: center;
}

/* =header
---------------------------*/
.header{
	&__inner{
		position: relative;
		height: 12rem;		
		z-index: 2;
	}
	.logo{
		width: 160px;
	}
}

.mainnav{
	font-weight: 900;
	text-transform: uppercase;
	list-style: none;
	font-size: 1.5rem;
	li{
		margin-right: 4.8rem;
		letter-spacing: 0.1em;
		&:last-child{
			margin-right: 0;
		}
	}
	a,
	span
	{
		color: $color2;
		text-decoration: none;
		position: relative;
		transition: .3s color;
		&:after{
			@extend .before;
			background: $color7;
			bottom: -5px;
			height: 2px;
			right: 0;
			transition: .3s;
			width: 0;
		}
		&:hover{
			color: $color7;
			&:after{
				width: 100%;
				left: 0;		
			}
		}
	}

	span{
		&:after{
			width: 100%;
		}
	}
}

/* =/header
---------------------------*/


.footer{
	&__inner{
		height: 10rem;		
	}
	.lang{
		width: 90px;
	}
}

.copyright{
	color: $color4;
	img{
		margin-right: 2.5rem;
	}
}

.lang{
	font-size: 1.5rem;
	letter-spacing: 0.1em;
	.current{
		color: $color2;
		text-decoration: none;
		border-bottom: 2px solid $color5
	}
	a{
		color: $color6;
		text-decoration: none;
		margin: 1rem 0;
		&:hover{
			color: $color5;
		}
	}
	a, span{
		margin-left: 1rem;
	}
}

.visually-hidden{
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
}



form{
	$pl: 27px;
	.input-field{
		position: relative;	
		&:before{
			bottom: 15px;
		}	
		label{
			-moz-user-select: none;
			color: $color2;
			font-weight: 300;
			cursor: text;
			opacity: 1;
			overflow: hidden;
			position: absolute;
			text-overflow: ellipsis;
			top: 7px;
			transform-origin: left top 0;
			transform: translate3d(0, 9px, 0px);
			transition: all 0.25s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
			white-space: nowrap;
			width: calc(96% - 10px);	
		}	
		.name-field{
			opacity: 0;
			color: #8bab9d;
		}

		.helper-field{
		}
	}

	.is-focused{
		label{
			@include transform(translate3d(0,-7px,0) scale(.8));
		}
		input,
		textarea{
			outline: none;
		}
		.name-field{
			opacity: 1;
		}
		.helper-field{
			opacity: 0;
		}
	}

	.input-field.is-charged:not(.is-focused) > label.name-field{
		@include transform(translate3d(0px, -7px, 0px) scale(0.8));
	}

	.is-charged{
		label{
			opacity: 0;
		}
		.helper-field{
			opacity: 0
		}
	}

	.form-control{
		background: none;
		height: 40px;
		border: none;
		border-bottom: 2px solid #fff;
		color: #fff;
		letter-spacing: .1em;
		width: 100%;
	}

	.input-field{
		margin-top: 3.2rem;
		label{
			font-size: 1.7rem;
		}
	}

	.submit{
		border-radius: 5rem;
		display: block;
		font-size: 1.7rem;
		height: 5rem;
		margin-top: 2.5rem;
		text-align: center;
		width: 16rem;
	}


	.textarea{
		background:url('data:image/gif;base64,R0lGODlhAQAoAJECAAD+7gH+7gAAAAAAACH5BAEAAAIALAAAAAABACgAAAIHlI+pyxZQAAA7');
		border: none;
		line-height: 41px;
		height: 120px;
		overflow: hidden;
		resize: none;
		filter: grayscale(1) brightness(2);
		&:active,
		&:focus{
			filter: none
		}
	}

	.captcha{
		margin-top: 3.2rem;
		img{
			max-width: 100%
		}
	}	
}




.sidemodal{
	background: $color9;
	color: $color2;
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;
	width: 48rem;
	z-index: 505;
	transform: translateX(100%);
	transition: .3s transform ease-out;

	&.open{
		transform: translateX(0);		
	}

	.callback__form{
		margin-top: 1.2rem;
	}

	.inner{
		padding: 5.5rem 0 0 0;
		margin-left: 8rem;
		position: absolute;
		width: 32rem;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		overflow-y: auto;
	}
	.title{
		font-family: 'proxima_novaextrabold_italic';
		letter-spacing: .1em;
		font-size: 3.4rem;
		margin-bottom: 3rem;
		text-transform: uppercase;
	}
	.text{
		font-size: 1.6rem;
		line-height: 1.6;
		padding-top: 2.2rem;
		padding-right: 2rem;
	}
}


.close-modal,
.close-menu{
	cursor: pointer;
	background: none !important;
	border: none;
	svg{
		@include transition-param(transform)
	}
	line{
		stroke:white;
		stroke-width:3
	}
	&:hover{
		svg{
			@include rotation(90deg)
		}
	}	
}


.close-modal{
	position: absolute;
	right: 0px;
	top: 60px;
	z-index: 99;
}



// modal menu
.modal-menu
{
	background: rgba(0, 180, 169, .95);
	height: 100%;
	left: 0;
	opacity: 0;
	padding: 0 0 10rem;
	position: fixed;
	top: 0;
	transform: translateY(-100%);
	transition: .5s all;
	width: 100%;
	z-index: -1;
	.inner{
		bottom: 0;
		height: 100%;
		left: 0;
		overflow: auto;
		position: fixed;
		right: 0;
		top: 0;
	}

	.container{
		padding: 5rem 24rem 2rem 0;
		position: relative;
	}
	.row{
		flex-wrap: nowrap;
	}
	.menu{
		color: $color2;
		a{
			@extend .tdu;
			color: $color2;
			font-size: 1.5rem;
			font-weight: 100;
		}

		.title,
		dt{
			font-size: 2.5rem;
			position: relative;
			margin-bottom: 25px;
			font-weight: 700;
			letter-spacing: .1em;
			text-transform: uppercase;
			a{
				font-size: inherit;
				font-weight: inherit;
				text-decoration: none;
			}
		}

		.title{
			&-mb{
				margin-bottom: 5.5rem;
			}
		}


		dd{
			margin: 3rem 0;
			padding-left: 2.2rem;
			position: relative;
			&:before{
				@extend .before;
				border-top: 2px solid $color2;
				width: 12px;
				left: 0;
				top: 7px;
			}
			a{
				font-size: 1.8rem;
				text-decoration: none;
				@extend .tdn;
			}
		}
	}

	.cell{
		padding-top: 4.5rem;
	}

	.contacts{
		font-size: 1.5rem;
		letter-spacing: .1em;
		&__inner{
			border: 1px solid $color2;
			padding: 4.2rem 4.7rem 5.5rem;	
			width: 40rem;	
		}

		&__cell{
			margin-top: 3rem;
			p{
				font-size: 1.8rem;
				font-weight: 100;
			}
		}
		.title{
			font-family: 'proxima_novablack_italic';
			position: relative;
			line-height: 1.4;
			margin-bottom: 0;
		}
		.tel,
		.email{
			text-decoration: none;
			font-size: 3rem;
		}
		.email{
			color: $color7;
			font-weight: 100;
			border-bottom: 1px solid ;
			&:hover{
				border-bottom: none;
			}
		}
	}



	.btn-callback{
		border-color: $color2;
		color: $color2;
		margin-top: .8rem;
		text-align: center;
	}

	.address{
		line-height: 1.5;
		font-size: 2rem;
		font-weight: 100;
		letter-spacing: .04em;
		margin-top: 1.2rem;

		b, strong{
			font-weight: 700;
		}
	}


	&.open{
		transform: translateY(0);
		opacity: 1;
		z-index: 9999;
	}

	.lang{
		a{
			text-decoration: none;
		}

		a, span{
			display: inline-block;
			border-bottom: 2px solid rgba(0,0,0,0);
			transition: .3s;
			font-weight: 500;
			padding-bottom: 3px;
		}

		.current{
			cursor: default;
		}
		.current,
		a:hover{
			border-bottom: 2px solid $color2;
		}
	}
}



.nicescroll-cursors{
	border: none !important;
	background: $color5 !important;
	border-radius: 8px !important;
	width: 9px !important;
	left: 2px;
}
.nicescroll-rails{
	border-radius: 10px;
	background: #000;
	left: calc(100% - 12px) !important;
	width: 5px !important;
}

.selectize-dropdown-content{
	margin-top: 10px;
	margin-bottom: 10px;
}