/*** reset ***********/
// html,body,ul,ol,li,dl,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,a,img,label{margin:0;padding:0;border:0}
// header, section, footer, aside, nav, article {display:block}
// ul{list-style:none}




* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	&:after,
	&:before{
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;		
	}
}


html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-size: 62.5%
}


body{
	background: #031821 url(../images/bg.jpg) no-repeat center / cover;
	font-family: 'proximanova';
	color: $color3;
	@include font-size(1.4);
	font-display: swap;
	height: 100vh;
}

html, body{
	height: 100%
}


.grid{
	display: grid;
	grid-template-areas: "header"
						 "main"
						 "footer";
	grid-template-rows: auto 1fr auto;	
	min-height: 100vh;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	//ie11
}



input::-moz-focus-inner{
	border: 0;
	padding: 0;
}


.outerwrapper{
	-webkit-flex: 1;
	flex: 1;
}

/*** standart classes *****/
p{}
a{color:#020000}
h1{font-size:2.5rem}
h2{font-size:2.4rem}
h3{font-size:1.6rem}

.regular{
	font-family: "SegoeUIRegular";	
}

/* font-family: "SegoeUIRegular"; */
@font-face {
	font-family: "SegoeUIRegular";
	src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot");
	src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/SegoeUIRegular/SegoeUIRegular.woff") format("woff"),
	url("../fonts/SegoeUIRegular/SegoeUIRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "SegoeUIBold"; */
@font-face {
	font-family: "SegoeUIBold";
	src: url("../fonts/SegoeUIBold/SegoeUIBold.eot");
	src: url("../fonts/SegoeUIBold/SegoeUIBold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/SegoeUIBold/SegoeUIBold.woff") format("woff"),
	url("../fonts/SegoeUIBold/SegoeUIBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "SegoeUIItalic";
	src: url("../fonts/SegoeUIItalic/SegoeUIItalic.eot");
	src: url("../fonts/SegoeUIItalic/SegoeUIItalic.eot?#iefix")format("embedded-opentype"),
	url("../fonts/SegoeUIItalic/SegoeUIItalic.woff") format("woff"),
	url("../fonts/SegoeUIItalic/SegoeUIItalic.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "SegoeUIBoldItalic";
	src: url("../fonts/SegoeUIBoldItalic/SegoeUIBoldItalic.eot");
	src: url("../fonts/SegoeUIBoldItalic/SegoeUIBoldItalic.eot?#iefix")format("embedded-opentype"),
	url("../fonts/SegoeUIBoldItalic/SegoeUIBoldItalic.woff") format("woff"),
	url("../fonts/SegoeUIBoldItalic/SegoeUIBoldItalic.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

strong,
.bold{
	font-weight: normal;
	font-family: "SegoeUIBold";
}
em, i, 
.italic{
	font-style: normal;
	font-family: "SegoeUIItalic";
}

strong em,
em strong
{
	font-weight: normal;
	font-family: "SegoeUIBoldItalic";
}


.tdn{
	text-decoration: none;
	&:hover{
		text-decoration: underline;
	}
}

.tdu{
	text-decoration: underline;
	&:hover{
		text-decoration: none;
	}
}


.before{
	content: "";
	display: block;
	position: absolute;
}


.form-control {
   border: 1px solid $color3;
   border-radius: 0;
   margin-top: 0.6rem;
	font-size: 16px;
	&:focus,
	&:active{
		border-color: $color5;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(222, 72, 111, 0.3)
	}
}



.btn{
	border-radius: 50%;
	border: 2px solid;
	&-blue{
		border-color: $color5;
	}
}

/* =header
---------------------------*/
.header{
	&__inner{
		height: 13rem;		
	}
}

.mainnav{
	font-weight: 900;
	text-transform: uppercase;
	list-style: none;
	padding-left: 3rem;
	font-size: 1.5rem;
	li{
		margin-right: 4rem;
		letter-spacing: 0.1em;
		&:last-child{
			margin-right: 0;
		}
	}
	a{
		color: $color2;
		text-decoration: none;
		position: relative;
		transition: .3s color;
		&:after{
			transition: .3s;
			@extend .before;
			background: $color7;
			height: 2px;
			width: 0;
			right: 0;
		}
		&:hover{
			color: $color7;
			&:after{
				width: 100%;
				left: 0;		
			}
		}
	}
}

/* =/header
---------------------------*/



/* =navigation
---------------------------*/
/* =/navigation
---------------------------*/

/* =main
---------------------------*/

.main{
	aside{
	}
}


.footer{
	&__inner{
		height: 10rem;		
	}
}

.copyright{
	color: $color4;
	img{
		margin-right: 2.5rem;
	}
}

.lang{
	font-size: 1.5rem;
	letter-spacing: 0.1em;
	.current{
		color: $color2;
		text-decoration: none;
		border-bottom: 2px solid $color5
	}
	a{
		color: $color6;
		text-decoration: none;	
	}
	a, span{
		margin-left: 1rem;
	}
}

.visually-hidden{
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
}
