.categories{
	overflow: hidden;
	padding-top: 0 !important;
	.d-flex{
		height: 100%;
	}
}

.category{
	&__item{
		position: relative;
	}

	&__column{
		display: flex;
		flex-direction: column;	
		flex-shrink: 0;
		margin-left: auto;
		margin-right: auto;
		width: 285px;
	}

	&__link{
		display: flex;
		color: #fff;
		text-decoration: none;
		height: 100%;
		letter-spacing: 0.1em;
		transition: .3s;
	    left: 50%;
	    transform: translateX(-50%);
	    will-change: width;
	    position: absolute;
	    width: 100%;
	    transform-style: preserve-3d;

		&:hover{
			// background-size: 130%;
			z-index: 2;
			width: 120%;
			.category{
				&__inner{
					&:after{
						background-color: rgba(3,21,27,.2);						
					}
				}
				&__title{
					color: $color7;
					&:after{						
						margin-left: -63px;
						width: 126px;
					}
				}
				&__num{
					span:after{
						right: -40px;
						width: 80px;
					}
				}
			}
		}
	}
	&__inner{
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 100%;
		transition: .3s;
		display: flex;
		padding-left: 5rem;
		padding-right: 5rem;
		padding-top: 6rem;
		width: 100%;

		position: relative;
		&:after{
			@extend .before;
			background-color: rgba(3,21,27,.6);
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			transition: background-color .3s;
		}
	}

	&__column{
		position: relative;
		z-index: 2;

	}

	&__num{
		font-size: 4rem;
		color: $color5;
		span{
			padding-right: 60px;
			position: relative;
			&:after{
				transition: .3s;
				@extend .before;
				border-top: 1px solid $color11;
				top: 20px;
				right: 0;
				width: 40px;
			}
		}
	}

	&__title{
		@extend .flex-center;
		font-family: 'proxima_novablack_italic';
		font-size: 3rem;
		line-height: 1.5;
		min-height: 105px;
		padding-bottom: 1.5rem;
		position: relative;
		text-align: center;
		text-transform: uppercase;
		&:after{
			@extend .before;
			border-top: 1px solid $color11;
			bottom: 0;
			left: 50%;
			margin-left: -46px;
			transition: .3s;
			width: 95px;
		}
	}

	&__desc{
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		padding-bottom: 10rem;
	}

	&__text{
		font-size: 1.7rem;
		line-height: 1.8;
		margin-top: 2.5rem;
		text-align: center;
	}
}