$color1:#000;
$color2:#fff;
$color3:#b0cad3;
$color4:#b7b7b7;
$color5:#00b4a9;
$color6:#a7a7a7;
$color7:#00ffef;
$color8:#c0c0c0;
$color9:#13242b;
$color10:#46fff3;
$color11:#00b3a8;
$color12:#03151b;
$color13:#c2ced2;
$color14:#00feee;
$color15:#5c6d72;
$color16:#00dbce;
$color17:#00c1b5;
$color18:#00d1c5;
$color19:#bdcaca;
