@font-face {
	font-family: 'proximanovaregular';
	src: local('Proxima-Nova-Regular'),
	     url('../fonts/Proxima-Nova-Regular.woff2') format('woff2'),
	     url('../fonts/Proxima-Nova-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}