.container{
	margin-right: auto;
	margin-left: auto;
}

@for $i from 10  through 1 {
	$step : 10;
	.col-#{$i}{width: $step*$i + %;}
	.col-offset-#{$i}{margin-left: $step*$i + %;}
}


.col{
	flex-basis: 0;
	flex-grow: 1; 
	max-width: 100%;
}


.d-flex{
	display: flex;
}

.flex-grow-1{
	flex-grow: 1;
}

.flex-wrap{
	flex-wrap: wrap;
}


.align-items-center{
	align-items: center
}

.justify-content-between{
	justify-content: space-between;
}

.justify-content-center{
	justify-content: center;
}


.justify-content-end{
	justify-content: flex-end;
}

.w-100{
	width: 100%;
}


@media (max-width: 767px) {
	.container{
		padding-left: 15px;
		padding-right: 15px;
	}
}

@media (min-width: 576px) {
	@for $i from 10  through 1 {
		$step : 10;
		.col-sm-#{$i}{width: $step*$i + %;}
		.col-sm-offset-#{$i}{margin-left: $step*$i + %;}
	}
}

@media (min-width: 768px) {
	@for $i from 10  through 1 {
		$step : 10;
		.col-md-#{$i}{width: $step*$i + %;}
		.col-md-offset-#{$i}{margin-left: $step*$i + %;}
	}
}


@media (min-width: 768px) {
	.container{
		width: 730px;
	}
}

@media (min-width: 992px) {
	.container {
		width: 940px;
	}

	@for $i from 10  through 1 {
		$step : 10;
		.col-lg-#{$i}{width: $step*$i + %;}
		.col-lg-offset-#{$i}{margin-left: $step*$i + %;}
	}

}

@media (min-width: 1150px) {
	.container {
		// width: 1050px;
	}
}


@media (min-width: 1200px) {
	.container {
		width: 1100px;
	}
	@for $i from 10  through 1 {
		$step : 10;
		.col-xl-#{$i}{width: $step*$i + %;}
		.col-xl-offset-#{$i}{margin-left: $step*$i + %;}
	}	
}

@media (min-width: 1300px) {
	.container{
		width: 1280px;
	}
}

@media (min-width: 1500px) {
	.container{
		width: 1450px;
	}
}

@media (min-width: 1600px) {
	.container{
		width: 1480px;
	}
}


@media (min-width: 1800px) {
	.container {
		width: 1600px;
	}
}