.homepage{
	.intro{
		padding-left: 10rem;
		position: relative;
		img{
			margin-left: -8rem;
		}
		p{
			color: $color8;
			font-family: 'proxima_novaregular_italic';
			font-size: 2.6rem;
			margin-top: 0;
			letter-spacing: .1em;
		}
		strong{
			font-family: 'proxima';
			 font-weight: 500;
		}
		&:after{
			@extend .before;
			height: 63px;
			border-left: 1px solid $color5;
			left: 450px;
			bottom: -22px;
		}
		.btn{
			margin-top: 3rem;
		}
	}

	.main{
		display: flex;
		align-items: center;
	}

	.main-pic{
		margin-left: -4rem;
		img{
			-webkit-animation: pulsing 10s infinite;
			animation: pulsing 10s infinite;
		}
	}
}


@-webkit-keyframes pulsing {
  0% {
    -webkit-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9)
  }
  50% {
    -webkit-transform: scale(1.0, 1.0);
    transform: scale(1.0, 1.0);
  }
  100% {
    -webkit-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9);
  }
}

@keyframes pulsing {
  0% {
    -webkit-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9)
  }
  50% {
    -webkit-transform: scale(1.0, 1.0);
    transform: scale(1.0, 1.0);
  }
  100% {
    -webkit-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9);
  }
}