.angle{
	height: 100vh;
	overflow: hidden;
	position: fixed;
	right: 0;
	top: 0;
	width: 600px;
	&:after{
		@extend .before;
		height: 0;
		width: 0;
		top: 0;		
		border-top: 115vh solid #0a0b0b; 
		border-left: 600px solid transparent;
		z-index: 1;
	}	
}

.webp{
	.homepage{
		.main-pic{
			background-image: url(../images/disc.webp);
		}
	}
	.grid{
		background: #031821 url(../images/bg.webp) no-repeat ;
	}
}

.no-webp{
	.homepage{
		.main-pic{
			background-image: url(../images/disc.png);
		}
	}
	.grid{
		background: #031821 url(../images/bg.jpg) no-repeat ;
	}
}

.homepage{
	position: relative;
	.intro{
		margin-left: calc((100% - 1600px)/2);
		padding-left: 9.5rem;
		margin-top: -9.5rem;
		position: relative;
		@extend .vline;
		&:before{
			left: 0;
			top: 46px;
			height: 85px;
		}
		img{
			margin-left: -8rem;
		}
		p{
			color: $color8;
			font-family: 'proxima_novaregular_italic';
			font-size: 2.6rem;
			margin-top: 0;
			letter-spacing: .1em;
		}
		strong{
			font-family: 'proxima';
			 font-weight: 500;
		}
		&:after{
			@extend .before;
		
			height: 63px;
			border-left: 1px solid $color5;
			left: 443px;
			bottom: -22px;
		}
		.btn{
			margin: 3.5rem 0 0 .7rem;
		}
	}

	.main{
		display: flex;
		align-items: center;
		position: relative;
		z-index: 99;
	}

	.main-pic{
		background-repeat: no-repeat;
		flex-grow: 1;
		margin-left: -4rem;
		width: 715px;
		height: 730px;
	}

	.content{
		width: 100%;
	}


	// right
	.right{
		width: 560px;
		position: relative;
		top: -87px;
		@extend .vline;
		&:before{
			height: 140px;
			left: -60px;
			top: 20px;
		}

		.news{
			position: absolute;
			left: 0;
			height: 395px;
			width: 110px;
			display: flex;
			flex-direction: column;
			align-items: center;
			top: 20px;
		}
		.prevnext{
			position: absolute;
			left: 47px;
			bottom: 82px;
			z-index: 100;
		}
		.new-title{
			background: $color9;
			display: flex;
			height: 395px;
			justify-content: center;
			padding-top: 18px;
			width: 110px;
			z-index: 99;
			img{
				align-self: flex-start
			}
		}
	}

	.counter{
		position: absolute;
		left: -5px;
		bottom: -162px;
		font-size: 1.5rem;
		width: 21rem;
		@extend .vline;
		&:before{
			height: 80px;
			right: -45px;
			top: 15px;
		}
		&:after{
			background: url(../images/dots.png);
			@extend .before;
			width: 95px;
			height: 35px;
			top: 0;
			left: -18px;
		}
		.cifr{
			 font-family: 'proxima_novablack_italic';;
			font-size: 7rem;
			letter-spacing: .1em;
			color: $color5;
			position: relative;
			z-index: 1;
		}
	}
	// =/right


	.footer{
		position: relative;
		top: -10px;
	}
	.footer__inner{
		position: relative;
		z-index: 2;
		height: 6rem;
	}
}



#news-carousel{
	.news{
		&__pic{
			overflow: hidden;
		}
		&-slide{
			padding: 2rem 0;
			width: 290px;
			img{
				transition: transform .3s;
			}
			a{
				padding: 3rem;
				background: #13242b;
				color: #fff;
				height: 39.5rem;
				display: block;
				text-decoration: none;
				&:hover{
					h3{
						color: $color7;
					}
					img{
						transform: scale(1.1)
					}
				}
			}
			h3{
				font-family: 'proxima_novabold_italic';
				font-size: 1.3rem;
				font-weight: normal;
				letter-spacing: 0.1em;
				transition: .3s color;
				margin: 2.8rem 0 .5rem;
				line-height: 1.7;
			}
			p{
				font-size: 1.3rem;
				line-height: 2;
				letter-spacing: .05em;
			}
		}
	}
	.slick-slide:not(.slick-current){
		opacity: .2;
	}

	.slick-current{
		a{
			transition: .3s box-shadow;
			box-shadow: 0 0 20px rgba(0,0,0,.5);			
		}
		&:hover a{
			box-shadow: 0 0 20px rgba(0,255,239,.5);			
		}
	}
}


@media (min-width: 992px) {
	.loaded{
		.main-pic{
			&.partially-below,
			&.revealator-within{
				transform: none;
				transition-delay: unset !important;
				transition: none !important
			}
		}
	}
}