.homepage{
	.intro{
		padding-left: 10rem;
		position: relative;
		img{
			margin-left: -8rem;
		}
		p{
			color: $color8;
			font-family: 'proxima_novaregular_italic';
			font-size: 2.6rem;
			margin-top: 0;
			letter-spacing: .1em;
		}
		strong{
			font-family: 'proxima';
			 font-weight: 500;
		}
		&:after{
			@extend .before;
			height: 63px;
			border-left: 1px solid $color5;
			left: 450px;
			bottom: -22px;
		}
		.btn{
			margin-top: 3rem;
		}
	}

	.main{
		display: flex;
		align-items: center;
	}
}