.neck{
	background: $color5;
	padding: 3.5rem 0;
	letter-spacing: .1em;
	ul{
		font-size: 1.8rem;
		list-style: none;
		margin-left: -1.8rem;
		a,
		span{
			border-radius: 4rem;
			padding: 0.7rem 1.4rem;
			text-decoration: none;
			color: $color2;
			border: 2px solid rgba(255,255,255,0);
		}
	}
	.active{
		a, span{
			border-color: $color2;
			cursor: default;
		}
	}
}


.inner{
	.main{
		padding-top: 5.7rem;
		h1{
			color: $color2;
			font-family: 'proxima_novablack_italic';
			font-size: 6rem;
			letter-spacing: .1em;
		}	
	}
}


aside{
	background-color: $color9;
}


// =pagination
.pagination{
	$s: 4.6rem;
	@extend .flex-center;
	font-family: 'proxima_novabold_italic';
	font-size: 2rem;
	margin: 5rem 0 3rem -5%;
	width: calc(100% - 12px);
	a, span{
		@extend .flex-center;
		text-align: center;
	}
	a,
	span{
		margin-left: 6px;
		margin-right: 6px;
		text-decoration: none;
	}
	a:not([class]),
	span:not(.separator){
		// background: $color2;
		border-radius: 50%;
		border:2px solid $color2;
		color: $color2;
		height: $s;
		transition: .3s;
		width: $s;
	}

	a:not([class]){
		&:hover{
			color: $color7;
			border-color: $color7;
			// background-color: $color7;
		}		
	}

	// .separator{
	// 	margin-left: 18px;
	// 	margin-right: 18px;
	// }

	.current{
		background-color: $color7 !important;
		color: $color2 !important;
		border-color: $color7 !important;
		cursor: default;
	}

	.prev,
	.next{
		@extend .tdu;
		// border-bottom: 1px solid;
		color: $color2;
		margin-right: 0;
		position: relative;
		text-decoration: none;
		transition: .3s color ;
		&:hover{
			border-bottom-color: rgba(0,0,0,0);
			color: $color7;
			&:before{
				filter: none;
			}
		}
		&:before{
			@extend .before;
			background: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAOCAMAAAD6xte7AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAVFBMVEUC/+8D/+8F/+8G/+8E/+8B/+8A/+8E/+8D/+8E/+8D/+8C/+8C/+8C/+8B/+8B/+8B/+8A/+8A/+8A/+8A/+8A/+8B/+8A/+8C/+8B/+8A/+/////J5bRTAAAAGHRSTlMAAAAAAAAAFatmFdK3FdUV0hXS1b23q2YPLHo0AAAAAWJLR0QbAmDUpAAAAAd0SU1FB+IIHhcdEZtbgl8AAACESURBVBjTXY6NFsIgCIUvOuhnlTpbpe//oAFu57S4wpEPEAECcDpfQqQwTSHEEMGq6/y5WYmI3Flwn9sjMWNIB4VTbtmRmbCxsigSGbmYw5Gm46hEUFvrrat5sPhEtcvIN7jqbF+KHMx2/EP9X8o7ZA+23TrrT6czg+vhPRsor/fepP4FVaoKlY8+PjUAAAAASUVORK5CYII=") no-repeat;
			filter: grayscale(1) brightness(3);
			transition: .3s filter;
			height: 14px;
			width: 19px;
			top: 3px;
		}
	}
	.prev{
		margin-right: 3.4rem;
		&:before{
			left: -32px;
		}
	}
	.next{
		margin-left: 3.4rem;
		&:before{
			right: -32px;
			@include rotation(180deg);
		}
	}
}
// =/pagination

.back{
	font-size: 2rem;
	font-family: 'proxima_novabold_italic';
	&__link{
		color: $color15;
		padding-left: 37px;
		position: relative;
		text-decoration: none;
		&:hover{
			color: $color7;
			&:before{
				filter: none;
			}
		}
		&:before{
			@extend .before;
			background: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAOCAMAAAD6xte7AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAgVBMVEUGsKYFsKYGr6UEsaYEsacDsacDsqcCsqgCs6gBs6gBs6kAtKkGsKYGsKYGr6UEsaYEsacEsaYDsacDsacEsacDsqcDsqcCs6gCs6gBs6gBs6gBs6kBs6kAtKkBs6kAtKkAtKkAtKkBs6kBs6kEsaYDsacCsqgBs6gBs6kAtKn///9XfAAUAAAAJHRSTlMAAAAAAAAAAAAAAAAVq2YV0rcV0tUV0hXS0hXVvbcV0hXVq2ZnuDLSAAAAAWJLR0QqU77UngAAAAd0SU1FB+IIHwwID/4uctwAAACpSURBVBjTPY6JEoMgDEQXRSDQ01ZbtR49xf//wSZqu5DJ8pKdAYACNtudShKIlFJQaZruD6+jYiM+1RqZ1vnpfc51pjP2XAbGFuWnLIwxGZdxXHCX61jVzlnL11py5FBXjIjcKiLyaMYY4xTjOIt7vKGZRHFaEc9bdP3UDyEE74mPZxcQhhkKYgWB8H/oly3ZCwLvHSfJ/7ILbEl+QUHCkJHvHk+ihfLzC0DwEN+LSxliAAAAAElFTkSuQmCC") no-repeat;
			width: 19px;
			height: 14px;
			left: 0;
			top: 4px;
			filter: grayscale(1) brightness(0.8);
			transition: .3s filter;
		}
	}
}