/* =news
---------------------------*/
.list-news{

}

.new{
	$w: 36.5rem;
	&__item{
		margin: 5rem 9.2rem 1.7rem 0;
		width: $w;
		p{
			color: $color13;
			font-weight: 100;
		}
	}

	&__link{
		display: block;
		line-height: 1.8;
		text-decoration: none;
		&:hover{
			.new{
				&__title{
					color: $color14;
				}
				&__thumb{
					box-shadow: 0 0 15px $color14;
				}
			}
		}
	}

	&__thumb{
		transition: .3s box-shadow;
		position: relative;
		z-index: 1;
		&:before,
		&:after{
			@extend .before;
			background-color: rgba(0, 180, 170, .2);
			width: 100%;
			height: 100%;
		}
		&:before{
			left: 10px;
			top: 10px;
		}
		&:after{
			left: 20px;
			top: 20px;
		}

		img{
			display: block;
			position: relative;
			z-index: 2;
		}
	}

	&__title{
		margin: 3.6rem 0 1.1rem;
	}
}

.new,
.more{
	&__item{
		letter-spacing: .1em;
	}
	&__title{
		color: $color2;
		font-family: 'proxima_novabold_italic';
		font-size: 2rem;
		line-height: 1.5;
		transition: .3s color;
		text-transform: uppercase;
	}
}

/* =/news
---------------------------*/


/* =more list
---------------------------*/
.inner {
	.more-list{
		padding: 4.5rem 8rem;
		h1{
			font-size: 4rem;
			text-transform: uppercase;
		}
	}

	.content{
		main{
			color: #c7dce3;
			font-size: 1.7rem;
			line-height: 2;

			h1, h2, h3, h4, h5, h6{
				color: #fff;
				font-weight: normal;
				margin: 0;
				padding: 0;
				letter-spacing: .1em;
			}
			h1{
				font-size: 4rem;
				line-height: 1.2;
			}
			h2{
				font-family: 'proxima_novablack_italic';
				font-size: 3.5rem;
				line-height: 1.4;
			}
			h3{
				font-family: 'proxima_novablack_italic';
				line-height: 1.4;
				// font-size: 1.7rem;
				font-size: 3rem;
				font-weight: 500;
			}
			h4{
				font-size: 2.6rem;
				font-family: 'proxima_novablack_italic';
			}

			h5{
				color: $color2;
				font-weight: 500;
				font-size: 1.7rem;
			}

			h2,
			h3,
			h4,
			h5
			{
				& + p{
					margin-top: .5rem;
				}
			}

			strong{
				font-weight: 500;
			}
			a{
				color: $color16;
				@extend .tdu;				
			}

			p{
				margin: 3rem 0;
			}

			img{
				max-width: 100%;
			}

			img.justifyleft, table.justifyleft {float:left; margin-right:20px;margin-bottom:10px;margin-top: 20px;}
			img.justifyright, table.justifyright {float:right; margin-left:10px;margin-bottom:10px;}
			img.justifycenter, table.justifycenter { display: block; margin-left: auto; margin-right: auto;}

			.text-center{
				text-align: center;
			}
			.text-right{
				text-align: right;
			}

			.alignleft {
				float: left;
				margin: 20px 20px 10px 0;
			}

			.alignright {
				float: right;
				margin: 7px 0 10px 10px;
			}

			.aligncenter {
				clear: both;
				display: block;
				margin: 10px auto;
			}



	// ol
	ol{
		counter-reset:li;
		margin-left: 0;
		list-style: none;
		font-size: 1.6rem;
		margin-bottom: 2rem;
		& li{
			// color: #00b4a9;
			// margin: 2rem 0;
			position: relative;
			padding-left: 30px;
			&:before{
				// background: $color_1;
				color: #00b4a9;
				$s: 3.1rem;
				// height: $s;
				// width: $s;
				border-radius: $s;
				content: counter(li) ")";; /* В качестве данных используем счетчик */
				counter-increment:li; /* Увеличиваем значение счетчика на 1 */
				/* Позиционируем и стилизируем цифры */
				position:absolute;
				text-align: center;
				display: flex;
				align-items: center;
				justify-content: center;
				top:0px;
				left:0;
				font-size: 1.7rem;
				font-weight: 500;
			}
			ol{
				counter-reset:li;
				margin-left: -10px;
				li{
					padding-left: 30px;
					&:before{
						background: none;
						color: #00b4a9;
						content: counter(li) ")";
						display: block;
						font-weight: 500;
						top: 0;

					}
				}
			}
		}
	}

			ul{
				list-style: none;
				li{
					margin: 1rem 0; 
					position: relative;
					padding-left: 2.8rem;
					&:before{
						@extend .before;
						border-top: 2px solid $color5;
						left: 0;
						top: 15px;
						width: 20px;
					}
				}
			}

			blockquote{
				background: $color9;
				color: $color2;
				font-size: 2.4rem;
				line-height: 1.5;
				border-left: 5px solid $color5;
				margin-left: 0;
				padding: 1.5rem 3rem;
				letter-spacing: .05em;
			}

			table{
				border-collapse: collapse;
				font-size: 1.5rem;
				line-height: 1.3;
				margin: 3rem 0 5rem; 
				tr{
					th, td{
						padding: 1.8rem 1.5rem 1.8rem 2.8rem;
						text-align: left;
					}
					th{
						background: #13242b;
						border-bottom: 2px solid #00b4a9;
						color: #fff;
						font-size: 1.7rem;
						font-weight: 500;
					}
					td{
						border-bottom: 1px solid #1c2d33;
					}
				}
			}
		}
	}
}

.more{
	&__item{
		margin-top: 2rem;
		padding-bottom: 2rem;
		border-bottom: 1px solid #36454b;
		&:last-child{
			border-bottom: none;
		}
		p{
			line-height: 1.8;
		}
	}
	&__title{
		margin-bottom: 1rem;
		a{
			color: $color2;
			text-decoration: none;
			&:hover{
				color: $color7;
			}
		}
	}
}

/* =/more list
---------------------------*/

