@media (max-width: 1800px){
	// .webp{
	// 	.homepage{
	// 		.main-pic{
	// 			background: url(../images/disc1600.webp) no-repeat;
	// 		}
	// 	}
	// }

	// .no-webp{
	// 	.homepage{
	// 		.main-pic{
	// 			background: url(../images/disc1600.png) no-repeat;
	// 		}
	// 	}
	// }


	.homepage{
		.main-pic{
			background-size: contain;
			height: 605px;
			width: 620px;
		}
		.intro {
		    margin-left: calc((100% - 1480px)/ 2);	
		}	
	}

	.new{
		&__item{
			margin-right: 8rem;
			width: calc(33% - 8rem);
		}
		&__thumb img{
			max-width: 100%
		}
		&__title{
			font-size: 1.8rem;
		}
	}
}


@media (max-width: 1700px){
	.homepage{
		.main-pic{
			margin-left: -9rem;
		}

		.right{
			width: 480px;
			.news{
				left: -40px;
			}
		}
	}

	// category
	.category__title{
		font-size: 2.8rem;
	}
}


@media (max-width: 1650px){

}


@media (max-width: 1550px){
	.webp{
		.homepage{
			.main-pic{
				background-image: url(../images/disc1200.webp);
			}
		}
	}

	.no-webp{
		.homepage{
			.main-pic{
				background-image: url(../images/disc1200.png);
			}
		}
	}

		
	.homepage{
		.main-pic{
			height: 465px;
			margin-left: -3rem;
			width: 415px;
		}
		.intro:before{
			left: 25px;
		}
	}

}


@media (max-width: 1500px){
	.groups{
		&__wrapper{
			margin-left: 0;
			width: 100%;
		}
	}
}



@media (max-width: 1420px){
	.homepage{
		.content{
			flex-wrap: wrap;
			padding-top: 5rem;
		}
		.intro{
			margin-left: 0;
			padding-left: 13%;
			width: 60%;
			&:before{
				left: 7%;
			}
			&:after{
				left: 75%;
			}
		}

		.main-pic{
			width: 40%;
		}
		
		.counter{
			bottom: auto;
			flex-grow: 1;
			left: 0;
			position: relative;
			text-align: center;
			top: 25px;
			width: auto;
			&:after{
				left: 50%;
				margin-left: -150px;
			}
			&:before{
				right: 75px;
			}
		}
		.right{
			display: flex;
			margin-top: 8rem;
			width: 100%;
			.news{
				left: 20px;
				height: 210px;
				width: 50px;
				img{
					max-width: 100%;
				}
			}

			.slick-next{
				top: 7px;
			}
			.new-title{
				display: block;
				padding-left: 25px;
				padding-top: 5px;
				width: 90px;
				img{
					height: 130px;
					width: auto;
				}
			}

			.prevnext{
				bottom: 75px;
				left: 11px;
			}
		}
	}

	.news__container{
		position: relative;
	}



	#news-carousel{
		width: 800px;
		.news-slide{
			width: 520px;
			a{
				align-items: center;
				display: flex;
				height: 210px;
				overflow: hidden;
				img{
					align-self: flex-start;
				}
			}
			.news__desc{
				padding-left: 2rem;
			}
			h3{
				margin-top: 0;
			}
		}
	}
}


@media (max-width: 1299px){
	.homepage .intro{
		&:before{
			left: 13%;
		}
		&:after{
			bottom: -5px;
		}
	}
	.new{
		&__item{
			margin-right: 6rem;
			width: calc(33% - 6rem);
		}
		&__title{
			font-size: 1.6rem;
		}
	}

	.inner .more-list{
		padding-left: 3rem;
		padding-right: 3rem;
	}


	// about
	.groups__wrapper{
		flex-wrap: wrap;
		justify-content: center;
	}
	.group{
		&__item{
			margin: 1rem 0;
			width: 33%;
		}
		&__link,
		&__pic{
			justify-content: center;
		}
	}

	.principle{
		&__cell{
			margin-right: 2rem;
			font-size: 2rem;
			min-width: auto;
			flex-grow: 1;
			flex-basis: 100%;
		}
		&__num{
			font-size: 80px;
		}
	}

	// contacts
	.main-contacts{
		.content{
			margin-left: 0;
			main{
				h1{
					font-size: 5rem;
				}
				h3{
					font-size: 2.8rem;
				}
				.address{
					font-size: 1.8rem;
				}
			}
		}
		.contacts__cell{
			.tel,
			.email{
				font-size: 2.6rem;
			}
		}
	}
}


@media (max-width: 1199px){
	.homepage{
		.intro{
			padding-left: 18%;
			&:before{
				left: 17%;
			}
			&:after{
				bottom: -5px;
			}
		}
		.counter:before{
			right: 50px;
		}
	}


	// =news
	.new{
		&__item{
			margin-right: 6rem;
			width: calc(50% - 6rem);
		}
		&__title{
			font-size: 1.6rem;
		}
	}

	// about
	.advantages{
		margin-right: 0;
		&__cell{
			padding: 0 3rem;
			flex-grow : 1; 
			flex-basis: 100%;
		}
		&__show{
			font-size: 4rem;
		}
	}
}


@media (max-width: 1150px){
	.news__container{
		width: 700px;
	}
	#news-carousel{
		width: 100%;
	}



	// =pagination
	.pagination{
		$s: 3.8rem;
		font-size: 1.4rem;
		margin: 5rem 0 3rem -5%;
		width: calc(100% - 12px);

		a:not([class]),
		span:not(.separator){
			color: $color2;
			height: $s;
			width: $s;
		}

		.prev,
		.next{
			&:before{
				top: 1px;
			}
		}
	}
	// =/pagination
}


@media (max-width: 1024px){
	.homepage{
		.intro{
			padding-left: 14%;
			&:before{
				left: 7%;
			}
		}
		.counter{
			&:before{
				right: 30px;
			}
			&:after{
				margin-left: -125px;
			}
		}
	}
}

@media (max-width: 991px){
	.webp{
		.homepage{
			.main-pic{
				background-image: url(../images/disc768.webp);
			}
		}
	}

	.no-webp{
		.homepage{
			.main-pic{
				background-image: url(../images/disc768.png);
			}
		}
	}


	.btn-learn-more{
		font-size: 1.7rem;
		height: 5rem;
		width: 17rem;
		font-weight: 100;
		letter-spacing: .1em;
		&:before{
			left: 12px;
		}
	}


	.homepage{
		.main-pic{
			background-position: center center !important
		}
		.intro{
			width: 60%;
			padding-left: 20%;
			img{
				margin-left: -6rem;
				max-width: 100%;
			}
			&:before{
				left: 20%;
			}
			p{
				font-size: 2rem;
			}
		}
		.counter{
			font-size: 1.3rem;
			.cifr{
				font-size: 5rem;
			}
		}

		.right{
			.new-title{
				padding-left: 20px;
				width: 50px;
				img{
					height: 80px;
				}
			}
			.news{
				height: calc(100% - 40px);
				left: 0;
				top: 20px;
			}
			.prevnext{
				left: 22px;
				bottom: 60px;
				transform: scale(0.75);
			}
		}
	}

	.news__container{
		margin-top: 2.5rem;
		width: 550px;
	}
	#news-carousel .news-slide{
		width: 410px;
		a{
			height: 15rem;
			padding: 2rem;
			img{
				max-width: 160px;
			}
		}
		p{
			font-size: 1.2rem;
		}
		.news__desc{
			padding-left: 1.2rem;
		}
		h3{
			height: 4.5rem;
			overflow: hidden;
		}
	}

	
	// submenu
	.secondary-nav{
		display: none;
		ul{
		// font-size: 1.5rem;
		// justify-content: center;
		// a, span{
		// 	padding-left: 1rem;
		// 	padding-right: 1rem;
		}
	}

	// news
	.inner .main h1{
		font-size: 5rem;
	}

	.list-news {
		justify-content: space-between;
	}
	.new__item{
		margin-right: 0;
		width: 305px;
	}

	.pagination{
		margin-left: 0;
		width: 100%;
	}


	// new
	.inner{
		.content main{
			font-size: 1.5rem;
			h1{
				font-size: 3rem;
			}
			p{
				font-size: 1.5rem;
			}
		}
		.main{
			padding-top: 4rem;
		}
		aside{
			margin-top: 2rem;
			margin-bottom: 2rem;
			.more-list{
				h1{
					font-size: 4rem;
					margin-bottom: 2rem;
				}
				.list__wrapper{
					display: flex;
					justify-content: space-between;
					.more{
						&__item{
							border-bottom: none;
							margin-top: 0;
							width: 30%;
						}
						&__title{
							font-size: 1.6rem;
						}
					}
				}
			}
		}
	}

	// about
	.main-about .text__inner{
		padding-left: 0;
	}

	.group__item{
		padding-left: 2rem;
		padding-right: 2rem;
	}


	.main-about .title{
		margin-bottom: 3rem;
	}

	.principles .container{
		padding: 5rem 0;
	}
	.principle{
		&__cell{
			font-size: 1.8rem;
		}
		&__num{
			font-size: 60px;
		}
	}

	.coverage{
		overflow: hidden;
		padding-top: 5rem;
		.title{
			margin-bottom: 6rem;
		}
		.columns{
			margin-left: 0;
			margin-right: 0;
		}
	}

	.coverage__title{
		padding-right: 1rem;
	}


	// contacts
	.main-contacts{
		&:before,
		&:after{
			display: none;
		}
		.content main{
			h1{
				font-size: 5rem;
			}
			h3{
				font-size: 2.4rem;
			}
		}
		.callback__form{
			margin: 3rem auto 0 0;
		}
	}
}



@media (max-width: 850px){
	.homepage .intro{
		padding-left: 15%;
		&:before{
			left: 10%;
		}
	}

	.news__container{
		width: 500px;
	}
}


@media (max-width: 768px){

	.homepage{
		.grid{
			background-image: url(../images/bg768.jpg);
			background-size: cover;
		}
		.intro{
			padding-left: 12%;
			&:after{
				left: 85%;
			}
		}
		.right{
			margin-top: 3rem;
			.new-title{
				padding-left: 17px;
			}
			.prevnext{
				left: 19px;
			}
		}
		.counter{
			top: 35px;
		}
	}
	.news__container{
		width: 450px;
	}

	// news
	.new__item{
		width: calc(50% - 4rem);
		margin-left: 2rem;
		margin-right: 2rem;
	}

	.inner .content main{
		.table-responsive {
			margin-bottom: 2rem;
			display: block;
			width: 100%;
			overflow-x: auto;
			-webkit-overflow-scrolling: touch;
			-ms-overflow-style: -ms-autohiding-scrollbar;
			table{
				margin-bottom: 2rem;
			}
		}
	}

	.advantages__show{
		font-size: 3rem;
	}


	.principle{
		&__cell{
			font-size: 1.6rem;
		}
		&__num{
			font-size: 5rem;
		}
	}	

	.coverage{
		&__row{
			flex-wrap: wrap;
		}
		&__title{
			text-align: center;
			margin-bottom: 4rem;
			br{
				display: none;
			}
		}
	}

	// card
	.main-card .text{
		padding-bottom: 5rem;
		.row{
			margin-top: 5rem;
		}
		.pic{
			margin-left: auto;
			margin-right: auto;
			width: 320px;
			float: none;
			display: none;
		}
		.description{
			padding-left: 0 !important;
			padding-right: 0 !important;
			text-align: justify;
		}
	}

}


@media (max-width: 750px){
	.webp{
		.homepage{
			.main-pic{
				background-image: url(../images/disc480.webp);
			}
		}
	}

	.no-webp{
		.homepage{
			.main-pic{
				background-image: url(../images/disc480.png);
			}
		}
	}


	.homepage{
		.main-pic{
			width: 230px;
			height: 250px;
		}
		.intro{
			margin-left: 1.5rem;
			margin-top: 0;
			width: calc(100% - 230px);
			padding-left: 20px;
			&:before{
				display: none !important;
			}
		}
		.content{
			margin-top: 0;
			align-items: flex-start
		}

		.right{
			flex-direction: column;
			align-items: center;
			margin-top: 11rem;
		}
		.counter{
			display: flex;
			align-items: center;
			text-align: left;
			.cifr{
				font-size: 4rem;
				padding-left: 1.5rem;
				margin-right: 4.3rem;
			}
			p{
				color: $color2;
				font-weight: 500;
				letter-spacing: .1em;
				position: relative;
				padding-right: 40px;
				&:after{
					content: "";
					display: block;
					position: absolute;
					height: 38px;
					border-right: 1px solid #00b4a9;
					right: 0;
					top: -12px;
				}
			}
			&:before{
				display: none;
			}
			&:after{
				background: url(../images/dots768.png) no-repeat left top;
				height: 27px;
				left: 0;
				margin-left: 0;
				top: -10px;
				width: 74px;
			}
		}
	}

	.news__container{
		margin-top: 6rem;
	}

	.principles{
		display: none;
	}
}


@media (max-width: 700px){
	.homepage .intro{
		// padding-left: 0;
		p{
			font-size: 1.6rem;
			width: 80%;
		}
		&:before,
		&:after{
			display: none;
		}
		.btn-learn-more{
			&:after{
				display: block;
				content: "";
				position: absolute;
				height: 45px;
				border-right: 1px solid $color5; 
				right: -30px;
			}

		}
	}
}


@media (max-width: 650px){
	.homepage{
		.intro img{
			margin-left: -4rem;
		}
		.right{
			top: 0;
			margin-top: 2rem;
			.news{
				left: -34px;
				height: auto;
				width: 40px;
			}
			.new-title{
				background: none;
				height: auto;
				width: auto;
				padding-left: 10px;
			}
			.prevnext{
				bottom: 0;
			}
		}
	}

	.btn-learn-more{
		font-size: 1.5rem;
		width: 150px;
		height: 45px;
		&:before{
			left: 9px;
			top: 38%;
		}
	}

	.news__container{
		margin-bottom: 3rem;
	}


	// new
	.inner aside .more-list .list__wrapper{
		display: block;
		.more{
			&__item{
				margin-top: 2rem;
				width: 100%;
			}
		}
	}

	// about
	.advantages{
		text-align: center;
		&__cell{
			padding: 0;
		}
		&__show{
			justify-content: center;
			text-align: center;
		}
	}

	.main-about .text .head:after{
		display: none;
	}

	.group__item{
		margin: 2rem 0;
		width: 50%;
	}


	.coverage{
		padding-bottom: 4rem;
		&__signature{
			flex-wrap: wrap;
			font-size: 1.4rem;
		}
		.signature__item{
			margin-right: 0;
			width: 25%;
			// text-align: center;
			margin-top: 1rem;
			justify-content: center;
		}
	}


	.groups{
		margin-top: 5rem;
	}

	.advantages{
		margin-bottom: 6rem;
	}

	.main-about .text__inner{
		margin-bottom: 3rem;
	}


	//card
	.main-card .text .title{
		font-size: 3rem;
		margin-bottom: 2rem;
	}


	.main-about,
	.main-card{
		.neck{
			height: 120px;			
		}
	}

	.neck{
		h1{
			font-size: 3rem !important;
		}
	}

	.main-card main{
		padding-top: 3rem;
	}
}


@media (max-width: 550px){
	.inner .main{
		padding-top: 2rem;
	}
	.new{
		&__item{
			margin-right: 0;
			width: calc(100% - 40px);
			max-width: 344px;
		}
		&__title{
			font-size: 1.6rem;
		}
	}


	.new__item{
		margin-left: 0;
		margin-right: 0;
		width: calc(100% - 2rem);
	}

	// =pagination
	.pagination{
		.prev,
		.next{
			display: none;
		}
	}
	// =/pagination	


	// new
	.inner .content main{
		font-size: 1.4rem;
		line-height: 1.5;
		img{
			float: none !important;
			margin-left: auto !important;
			margin-right: auto !important;
			display: block;
		}

		h1{
			font-size: 2.5rem;
		}

		h2{
			font-size: 2.3rem;
		}

		h3{
			font-size: 2.1rem;
		}

		h4{
			font-size: 2rem;
		}

		blockquote{
			font-size: 1.5rem;
			margin-right: 0;
		}
	}

	//advantages
	.advantages{
		flex-wrap: wrap;
		&__cell{
			flex-basis: 50%;
			&:before{
				content: "";
				display: block;
				position: absolute;
				border-right: 1px solid #023537;
				height: 104px;
				top: 10px;
				left: 0;				
			}
		}
	}

	// contacts
	.main-contacts{
		.content main{
			h1{
				font-size: 4rem;
			}
		}
	}	
}


@media (max-width: 500px){
	.coverage .signature__item{
		width: 50%;
	}
}


@media (max-width: 480px){
	.homepage .grid{
		background-image: url(../images/bg480.jpg);
		background-position: center top;
	}

	#news-carousel .news-slide{
		width: 100%;
	}

	.news__container{
		margin-left: 2rem;
		margin-right: 2rem;
		width: calc(100% - 4rem);
	}

	.inner .main h1{
		font-size: 4.2rem;
	}	

	.new__item{
		margin-top: 3rem;
	}
}


@media (max-width: 460px){
	.webp{
		.homepage{
			.main-pic{
				background-image: url(../images/disc320.webp);
			}
		}
	}

	.no-webp{
		.homepage{
			.main-pic{
				background-image: url(../images/disc320.png);
			}
		}
	}


	.homepage{
		.content{
			display: block;
			padding-top: 2rem;
		}
		.intro{
			padding-left: 45px;
			width: calc(100% - 45px);
			p{
				margin-left: -20px;
				padding-left: 0;
				width: 100%;
			}
			.btn{
				margin-left: 7%;
				&:after{
					display: none;
				}
			}
		}

		.main-pic{
			background-position:  center top !important;
			height: 325px;
			margin-left: 0;
			margin-top: 2.5rem;
			width: 100%;
		}
	}

	#news-carousel .news-slide{
		a{
			flex-direction: column;
			height: auto;
			align-items: center;
			img{
				max-width: 100%;
				margin-left: auto;
				margin-right: auto;
			}
			h3{
				height: auto;
				margin-top: 1rem;
			}
		}
		.news__desc{
			padding-left: 0;
			text-align: center;
		}
	}

	.news__container{
		margin-left: 3.5rem;
		margin-right: 2rem;
		width: calc(100% - 5.5rem);
	}
}



@media (max-width: 420px){
	.homepage{
		.counter{
			p{
				padding-right: 0;
				&:after{
					top: 0;
				}
				width: 125px;
			}
		}
		.grid{
			background-image: url(../images/bg320.jpg);
		}		
	}

	// =pagination
	.pagination{
		$s: 3.5rem;
		font-size: 1.3rem;
		flex-wrap: wrap;
		a:not([class]),
		span:not(.separator){
			height: $s;
			width: $s;
			margin-bottom: .5rem;
		}
	}
	// =/pagination

	.inner aside .more-list {
		padding: 1.5rem;
		h1{
			font-size: 3rem;
		}
		.more__item:last-child{
			padding-bottom: 0;
		}
	}	


	// about
	.main-about{
		.text{
			.head{
				font-size: 3rem;
			}
			.subtitle{
				font-size: 2rem;
			}
		}
		.text__inner{
			font-size: 1.5rem;
		}
		.title{
			font-size: 3rem;
		}
	}
	.group__item{
		width: 100%;
	}

	.group__link{
		font-size: 1.8rem;
	}


	// contacts
	.main-contacts{
		.callback__form{
			width: 100%;
		}
		.contacts__cell{
			.email,
			.tel{
				font-size: 2.2rem;
			}
		}
	}

	.main-contacts .content main{
		h1{
			font-size: 3rem;
		}
		h3{
			font-size: 1.8rem;
		}
		.address{
			font-size: 1.6rem;
		}

	}
}

@media (max-width: 330px){
	.homepage .counter p:after{
		right: 10px;
	}
	.news__container{
		margin-bottom: 2rem;
	}

}