@media (max-width: 1600px){
	.angle{
		width: 520px;
	}
}

@media (max-width: 1500px){
	.modal-menu .container{
		padding-right: 5rem;
	}
}


@media (max-width: 1420px){
	.grid{
		display: block;
	}
}

@media (max-width: 1299px){
	.mainnav li{
		margin-right: 2rem;
	}
	.btn-callback{
		margin-left: 5rem;
	}
}

@media (max-width: 1199px){
	.mainnav{
		font-size: 1.2rem;
		li{
			margin-right: 2.1rem;
		}
	}

	.modal-menu .contacts{
		display: none;
	}

	.angle{
		width: 335px;
	}	
}

@media (max-width: 1024px){
	.angle{
		width: 280px;
	}
}

@media (max-width: 991px){
	#navbar{
		display: none;
	}

	.modal-menu .menu{
		.col{
			flex-basis: 50%;
			width: 50%;
		}
	}
}

@media (max-width: 768px){
	.header{
		.logo{
			width: 100px;
			img{
				max-width: 100%;
			}
		}
		.btn-callback{
			font-size: 1.3rem;
			width: 11.5rem;
		}
	}

	.modal-menu .menu{
		padding-left: 1.5rem;
	}
}


@media (max-width: 750px){
	.header{
		.btn-callback{
			float: right;
		}
	}
	.grid{
		// padding-left: 1.5rem;
		// padding-right: 1.5rem;
	}

	footer .lang{
		a{
			display: inline-block;
		}
	}
}

@media (max-width: 650px){
	.modal-menu {
	    display: none!important;
	}
}


@media (max-width: 590px){
	.sidemodal{
		width: 90%;
		.inner{
			width: 100%;
			padding-right: 3rem;
			margin-left: 0;
			padding-left: 3.7rem;
		}
		.close-modal{
			right: 20px;
		}
	}
	.header .btn-callback{
		width: auto;
		padding-left: 3rem;
		padding-right: 3rem;
	}
}

@media (max-width: 480px){
	.angle{
		width: 190px;
	}
}

@media (max-width: 420px){
	.header .btn-callback{
		float: none;
		margin-left: 0;
	}
	.sidemodal{
		.inner{
			padding-left: 2rem;
			padding-right: 2rem;
			padding-top: 8rem;
		}
		.text{
			padding-right: 0;
			font-size: 1.4rem;
		}
	}

	.footer{
		font-size: 1.3rem;
		.lang{
			font-size: 1.4rem;
		}
	}
}


@media (max-width: 380px){
	.sidemodal{
		.close-modal{
			top: 20px;
		}
		.title{
			font-size: 3rem;
		}
	}

	.header__inner{
		justify-content: space-between;
		& > div{
			flex-grow: 1;
			width: auto;
		}
	}

	.header .btn-callback{
		padding-left: 2rem;
		padding-right: 2rem;
	}	

	.copyright{
		line-height: 1.5;
	}
}

@media (max-width: 320px){
	.angle{
		width: 110px;
	}
}



@media (min-width: 651px){
	.apanel {
	    display: none!important;
	}
}